#welcomeLayer {
    -fx-background-color: #404040 ;
    -fx-pref-width: 500;
}

#welcomeScreen {
    -fx-background-color: #808080;

}


#ellipse5 {
    -fx-border-color: white;
}

#welcomeControls {
    -fx-background-color: #606060;
    -fx-alignment: center-right;
}